/* http://meyerweb.com/eric/tools/css/reset/     v2.0 | 20110126    License: none (public domain) */  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } body *{box-sizing: border-box} html{ scroll-behavior: smooth }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  GENERAL                                                                ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

h1,h2,h3,h4,p{
  font-family: 'Rubik', sans-serif;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  NAVIGATION                                                             ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.nav-wrapper{}

nav{
  position: fixed;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MOBILE                                                                 ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav .mobile{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  DESKTOP                                                                ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav .desktop{
  display: none; /* TOGGLED BY MEDIA QUERY */
    justify-content: space-between;
    align-items: center;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  TOP                                                                    ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top{
  top: 0; left: 0;
  width: 100%;
}

@media all and (min-width: 700px){
  nav.top .mobile{ display: none }
  nav.top .desktop{ display: flex }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MOBILE                                                                 ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top .mobile{
  width: 100%;
}

nav.top button.mobile-menu{
  border: none;
  background: none;
  padding: 8px;
}

nav.top button.mobile-menu .rect{
  width: 24px;
  height: 4px;
  background: #060606;
  margin-bottom: 4px;
}

nav.top button.mobile-menu .rect:last-of-type{
  margin-bottom: 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  DESKTOP                                                                ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top .desktop{}

nav.top .desktop ul{
  display: flex;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  BACKGROUND                                                             ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.background{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.background-border{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border: 16px solid #060606;
  z-index: 999;
}

@media (min-width: 725px){
  .background-border{ border: 32px solid #060606 }
}

.background .back-img-wrap{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.background .background-image{
  width: 100%; height: 100%;
  background-image: url('../MEDIA/texture.jpg');
  background-position: center center;
  background-size: cover;
  animation: backgroundWarp 120s linear 0s infinite;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SECTIONS                                                               ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.page-content{
  position: relative;
  z-index: 10;
  padding: 16px;
}

section{
  width: 100%;
}

section .content-wrap{
  width: 100%;
    max-width: 1000px;
  margin: 0 auto;
  padding: 16px 0px 16px 0px; /* On mobile, things can go off-edge */
}

section:not(.hero) .content-wrap{
  padding: 32px 0px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  HERO                                                                   ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.hero{}

section.hero .content-wrap{
  height: 100%;
}

@media (min-width: 725px){
  section.hero .content-wrap{ padding: 48px 0 32px 0 }
}

section.hero .big-text-wrap{
  position: absolute;
  top: 16px; left: 16px;
  overflow: hidden;
  width: calc(100% - 32px);
  z-index: -1;
}

section.hero h1{
  display: flex;
    flex-wrap: wrap;
  width: calc(100% + .15em);
  max-width: 1000px;
  transform: translateX(-.15em);
  margin: 0 auto;
  
  color: #D9D8D3;
  line-height: .65em;
  font-size: 86vw;
  font-weight: 900;
}

section.hero h1 span{
  display: block;
  width: 50%;
}

@media (min-width: 525px){
  section.hero h1{ 
    font-size: 62vw;
    line-height: .66em;
    transform: translateX(-10vw);
  }
  section.hero h1 span{ width: 33.333333% }
}

@media (min-width: 950px){
  section.hero h1 { font-size: 35em; transform: translateX(-2vw) }
}

/* section.hero h1 .a{ animation: aGrowth 10s linear 0s infinite }
section.hero h1 .b{ animation: bGrowth 20s linear 0s infinite } */

section.hero .content-wrap{
  z-index: 12;
}

section.hero .hero-content{
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.hero p{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 8px;
  background: #060606;
  z-index: 13;

  color:#D9D8D3;
  text-align: center;
  text-transform: uppercase;
}

section.hero p.dates{
  width: calc(48vw + 16px);
  max-width: 230px;
  font-size: .8em;
}

section.hero p.main{
  width: calc(72vw + 16px);
  max-width: 469px;
  margin-top: 32px;
  padding: 32px;
  z-index: 13;

  font-size: 3.5em;
  font-weight: 900;
  text-transform: uppercase;
}

section.hero p.main span{
  display: block;
  margin-top: 8px;
  font-size: .4em;
  letter-spacing: 3px;
  font-weight: 500;
}

section.hero p.location{
  width: calc(72vw + 16px);
    max-width: 349px;
  margin-top: 32px;
  font-size: .8em;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  ABOUT                                                                  ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.about{
  background: #060606;
  color: #FFF;
  font-weight: 400;
}

section.about .content-wrap{
  padding: 64px 32px;
}

section.about h2{
  width: calc(72vw + 16px);
  margin: 0 auto;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

section.about p{
  width: calc(72vw + 16px);
  margin: 0 auto;
  margin-top: 8px;
  line-height: 1.5;
}

@media (min-width: 675px){
  section.about .content-wrap{ padding: 80px 48px }
}

@media (min-width: 750px){
  section.about h2{ font-size: 2.5em }

  section.about p{
    font-size: 1.125em;
    margin-top: 16px;
  }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SPEAKERS                                                               ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.speakers h2,
section.schedule h2,
section.register h2{
  width: calc(72vw + 16px);
  background: #060606;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  color: #D9D8D3;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size:2.125em;
}

section.speakers .speaker{
  position: relative;
  padding-top: 32px;
  overflow: hidden;
}

section.speakers .speaker img{
  display: block;
  width: calc(72vw + 16px);
  margin: 0 auto;
  border: 16px solid #060606;
    border-left: 32px solid #060606;
  transform: translateX(-8vw);
}

section.speakers .speaker h3{
  position: relative;
  width: calc(75vw - 6px);
  margin-top: -40px;
  margin-left: calc(12.5vw - 16px);
  background: #060606;
  padding: 16px;
  z-index: 10;

  font-size: 2em;
  color: #D9D8D3;
  font-weight: 700;
  text-transform: uppercase;
}

section.speakers .speaker p{
  position: relative;
  width: calc(87.5vw - 18px);
  margin-top: 8px;
  margin-left: calc(12.5vw - 16px);
  padding: 24px;
  background: #060606;

  font-size: .9em;
  color: #D9D8D3;
  line-height: 1.4;
  z-index: 10;
}

section.speakers .speaker p span{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

section.speakers .speaker::before{
  position: absolute;
  top: 88px; left: -32px;
  width: 100%;

  font-size: 10em;
  font-weight: 900;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  line-height: .7;
  z-index: 0;
}

section.speakers .speaker:first-of-type::before{ content: 'David Pearson' }
section.speakers .speaker:nth-of-type(2)::before{ content: 'Archie Lee Coates IV' }
section.speakers .speaker:last-of-type::before{ content: 'Sheila Levrant de Bretteville' }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SCHEDULE                                                               ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.schedule h3{
  display: block;
  width: calc(48vw + 16px);
  padding: 8px;
  margin: 16px auto;
  background: #060606;

  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}

section.schedule ul{
  background: #060606;
  padding: 16px 0;
}

section.schedule ul li{
  display: flex;
    justify-content: space-between;
    align-items: flex-start;
  color: #D9D8D3;
}

section.schedule ul li .time{
  display: block;
  color: #D9D8D3;
  margin-right: 8px;
  font-weight: 900;
}

section.schedule ul li .time .hour{
  display: block;
  background: #060606;
  padding: 16px;
}

section.schedule ul li .time .am-pm{
  font-size: .7em;
  font-weight: 400;
}

section.schedule ul li .main{
  width: 76vw;
  background: #060606;
  padding: 16px;
}

section.schedule ul li .main h4{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125em;
}

section.schedule ul li .main .desc{
  margin-top: 8px;
  line-height: 1.4;
  font-size: .9em;
}


footer{
  width: 100%;
  background: #060606;
  min-height: 200px;
}